# Deployment mode: SingleBinary (simple), SimpleScalable (medium), Distributed (large)
deploymentMode: SingleBinary

# Number of replicas
singleBinary:
  replicas: 1

# Component replicas
write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0

# Caching
chunksCache:
  enabled: false
resultsCache:
  enabled: false

# Helm test
test:
  enabled: false

# All loki settings combined under one key
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  
  storage:
    type: filesystem
    filesystem:
      directory: /var/loki/chunks
  persistence:
    enabled: true            # مهم جدا
    size: 5Gi                # الحجم اللي تحبه
    storageClass: gp2        # storageClass موجود عندك في EKS
    accessModes:
      - ReadWriteOnce      # مناسب لـ EBS
  schemaConfig:
    configs:
      - from: 2020-10-24
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: index__
          period: 24h
      
