loki:
  auth_enabled: false
  
deploymentMode: scalable
singleBinary:
  replicas: 0
simpleScalable:
  replicas: 2

test:
  enabled: false
  
config:
  server:
    http_listen_port: 3100
  ingester:
    lifecycler:
      ring:
        kvstore:
          store: inmemory
        replication_factor: 1
  storage_config:
    filesystem:
      directory: /tmp/loki/chunks
  schema_config:
    configs:
    - from: "2020-10-24"
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h