mode: deployment

image:
  repository: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector

config: 

  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}

  processors:
    memory_limiter:
      check_interval: 1s
      limit_mib: 512
      spike_limit_mib: 128

    batch:
      timeout: 10s

  exporters:
    loki:
      endpoint: "http://loki.observability.svc.cluster.local:3100/loki/api/v1/push"
      labels:
        job: "otel-collector"

    otlp/tempo:
      endpoint: "tempo.observability.svc.cluster.local:4317"
      tls:
        insecure: true

    prometheus:
      endpoint: "0.0.0.0:8888"
      const_labels:
        service: "otel-collector"

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [otlp/tempo]

      logs:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [loki]

      metrics:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [prometheus]

    telemetry:
      metrics:
        address: "0.0.0.0:8888"
      logs:
        level: "info"
