# Tempo Single Binary with S3 backend + IAM Role
deploymentMode: SingleBinary

tempo:
  retention: 24h

  # Trace Storage - S3 backend
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-bucket-55
        region: us-east-1
        endpoint: "" # empty = default AWS endpoint
        access_key: "" # empty because we use IRSA
        secret_key: "" # empty because we use IRSA
        insecure: false

  # Metrics Generator
  metricsGenerator:
    enabled: true
    remoteWriteUrl: "http://prometheus-kube-prometheus-prometheus.observability-ns.svc.cluster.local:9090/api/v1/write"
    storage:
      backend: local
      local:
        path: /tmp/tempo-metrics

  # Disable optional search / local store
  search:
    enabled: false

# ServiceAccount with IAM Role for S3 access
serviceAccount:
  create: true
  name: tempo
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::864899840633:role/todo-list-app-cluster-tempo-irsa

global:
  serviceAccount:
    create: true
    name: tempo
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::864899840633:role/todo-list-app-cluster-tempo-irsa

# Single Binary specifics
singleBinary:
  replicas: 1
  persistence:
    enabled: false
  extraVolumes:
    - name: tmp-metrics
      emptyDir: {}
  extraVolumeMounts:
    - name: tmp-metrics
      mountPath: /tmp/tempo-metrics
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

# Disable distributed components
distributor:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
compactor:
  replicas: 0

# Global persistence disabled
persistence:
  enabled: false
