name: Build and Deploy with Terraform, ArgoCD, and Observability

on:
  workflow_dispatch:
      inputs:
        action:
          description: 'Action to perform: skip terraform or no'
          required: true
          default: 'no'
          type: choice
          options:
            - no
            - yes

permissions:
  contents: write
  actions: write
  id-token: write
  packages: write
  # ممكن تزود others لو محتاج

jobs:
  terraform:
    if: ${{ github.event.inputs.action == 'no' }}
    uses: ./.github/workflows/terraform.yaml
    secrets: inherit

  deploy:
    needs: terraform
    uses: ./.github/workflows/deploy.yaml
    with:
      argocd_namespace: ${{ needs.terraform.outputs.argocd_namespace }}
      app_namespace: ${{ needs.terraform.outputs.app_namespace }}
      cluster_name: ${{ needs.terraform.outputs.cluster_name }}
    secrets: inherit

  observability:
    needs: terraform
    uses: ./.github/workflows/observability.yaml
    with:
      cluster_name: ${{ needs.terraform.outputs.cluster_name }}
      monitoring_namespace: ${{ needs.terraform.outputs.monitoring_namespace }}
      traces_namespace: ${{ needs.terraform.outputs.traces_namespace }}
      logging_namespace: ${{ needs.terraform.outputs.logging_namespace }}
      otlc_namespace: ${{ needs.terraform.outputs.otlc_namespace }}
    secrets: inherit
