on:
  workflow_dispatch:

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yaml
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit

  deploy:
    needs: terraform
    uses: ./.github/workflows/deploy.yaml
    with:
      argocd_namespace: ${{ needs.terraform.outputs.argocd_namespace }}
      app_namespace: ${{ needs.terraform.outputs.app_namespace }}
      cluster_name: ${{ needs.terraform.outputs.cluster_name }}
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit

  observability:
    needs: terraform
    uses: ./.github/workflows/observability.yaml
    with:
      cluster_name: ${{ needs.terraform.outputs.cluster_name }}
      monitoring_namespace: ${{ needs.terraform.outputs.monitoring_namespace }}
      traces_namespace: ${{ needs.terraform.outputs.traces_namespace }}
      logging_namespace: ${{ needs.terraform.outputs.logging_namespace }}
      otlc_namespace: ${{ needs.terraform.outputs.otlc_namespace }}
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
