on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform: apply or destroy'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy
  workflow_call:
    inputs:
      cluster_name:
        description: 'The name of the EKS cluster'
        required: true
        type: string
      observability_namespace:
        description: 'The observability namespace'
        required: true
        type: string

jobs:
  observability-setup:
    name: Observability Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up AWS CLI by OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Configure Kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{ inputs.cluster_name }} --region us-east-1

      - name: set up helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest' 
          

      - name: Install openTelemetry using Helm
        run: |
          helm repo add open-telemetry https://open-telemetry.github.io/opentelemetry-helm-charts
          helm repo update
          if helm status otel-collector -n ${{ inputs.observability_namespace }} > /dev/null 2>&1; then
             echo "Release otel-collector already exists, skipping install."
          else
             helm install otel-collector open-telemetry/opentelemetry-collector \
               --namespace ${{ inputs.observability_namespace }} \
               -f ./helm/otel-collector.yaml \
               --create-namespace
          fi
      
      
      - name: Install Prometheus using Helm
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
          if helm status prometheus -n ${{ inputs.observability_namespace }} > /dev/null 2>&1; then
             echo "Release prometheus already exists, skipping install."
          else
             helm install prometheus prometheus-community/kube-prometheus-stack --namespace ${{ inputs.observability_namespace }} --create-namespace
          fi
          
      - name: Install loki using helm 
        run: |
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo update
          if helm status loki -n ${{ inputs.observability_namespace }} > /dev/null 2>&1; then
             echo "Release loki already exists, skipping install."
          else
             helm upgrade --install loki grafana/loki \
               --namespace ${{ inputs.observability_namespace }} \
               -f ./helm/loki-values.yaml \
               --create-namespace \
               --timeout 600s \
               --wait
          fi


      - name: Install tempo using helm 
        run: |
          if helm status tempo -n ${{ inputs.observability_namespace }} > /dev/null 2>&1; then
             echo "Release tempo already exists, skipping install."
          else
             helm upgrade --install tempo grafana/tempo \
               --namespace ${{ inputs.observability_namespace }} \
               -f ./helm/tempo-values.yaml \
               --create-namespace \
               --timeout 600s \
               --wait
          fi



